.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2A2A2A;
  }
  
  .login-form, .sign-up-form, .forgot-password-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
  }
  
  input {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ddd;
   
  }
  
  button {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button, .sign-up-button, .forgot-password-button {
    background-color: #F39C12;
  }
  
  .login-button:hover, .sign-up-button:hover, .forgot-password-button:hover {
    background-color: #e68900;
  }
  
  .back-button {
    background-color: #2C3E50;
    color: #FFFFFF;
  }
  
  .back-button:hover {
    background-color: #1A252F;
  }
  
  .login-links {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .login-links button {
    background: none;
    color: #F39C12;
    border: none;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .login-links button:hover {
    color: #e68900;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .login-container {
      padding: 1rem;
      max-width: 90%;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    input {
      font-size: 0.875rem;
    }
  
    button {
      font-size: 0.875rem;
    }
  }
  
  @media (max-width: 480px) {
    .login-container {
      padding: 0.5rem;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  
    input {
      font-size: 0.75rem;
      padding: 0.5rem;
    }
  
    button {
      font-size: 0.75rem;
      padding: 0.5rem;
    }
  
    .login-links {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  